<h1>Student</h1>

<h2><%= @student.name %></h2>

<h3><%= @student.major %></h3>

<h4><%= @student.age %></h4>

<%= button_to "delete", {:controller => :students,
      :action => 'destroy', :id => @student.id }, :method => :delete %>
